<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แปลภาษามือ</title>
    <meta name="keywords" content="ภาษามือ,แปลภาษามือ">

    <link rel="stylesheet" href="main1.css">
</head>
<body>
   <div class="top-bar"></div>
     <header>
        <div class="container">
         <nav>
            <div class="logo">
                <h1>แปลภาษามือ</h1>
            </div>
         </nav>
         <section>
            <div class="header-btn">
            <a href="front2.html"class="purchase">ภาษาไทย ⮕ ภาษามือ</a>
            <a href="front3.html"class="learnmore">ภาษามือ ⮕ ภาษาไทย</a>
            </div>
         </section>
        </div>
     </header>
</body>
</html>